# This workflow will install Python dependencies, run tests and linting
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: check code quality with python 3.10

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest mypy

      - name: Lint with flake8
        run: |
          flake8 .
      - name: Lint with mypy
        run: |
          mypy .
