# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python 3.10

on:
    push:
        branches: ["main", "develop"]
    pull_request:
        branches: ["main", "develop"]

permissions:
    contents: read

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
            -   name: Set up Python 3.10
                uses: actions/setup-python@v3
                with:
                    python-version: "3.10"
            -   name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install colorama

            -   name: Lint with flake8
                run: |
                    flake8 .
            -   name: Lint with mypy
                run: |
                    mypy .
            -   name: Test with pytest
                run: |
                    pytest . --log-cli-level=WARNING
